# ===== Python =====
__pycache__/
*.py[cod]
*.class
*.so

# ===== Jupyter =====
.ipynb_checkpoints/
*.ipynb_checkpoints

# ===== Виртуальные окружения =====
.venv/
venv/
env/

# ===== Данные (не храним в Git) =====
data/raw/*.csv
data/raw/*.xlsx
data/processed/*.csv

# ===== DVC =====
.dvc/cache/
.dvc/tmp/

# ===== IDE =====
.vscode/
.idea/

# ===== OS =====
.DS_Store
Thumbs.db
